/*  your css code here. If applicable */
.star{
	width:200px;
	height:200px;
	background-color:#ffff00;
	
	clip-path:polygon(
		50% 0%,
		64% 25%,
		100% 25%,
		79% 50%,
		100% 75%,
		64% 75%,
		50% 100%,
		36% 75%,
		0% 75%,
		21% 50%,
		0% 25%,
		36% 25%
	);
	margin: 20px auto;
	
}